  /* Create an accessible color palette using var()function */
  /* https://www.w3schools.com/css/css3_variables.asp */

:root {
  --text-main: black;
  --surface-01: rgb(246, 246, 246);
  --surface-02: white;
  --button-01: rgb(15, 101, 15);
  --button-01-hover: rgb(12, 83, 12);
}

h1 {
  font-size:2em;
  font-weight: 600;
  margin-bottom:24px;
}

h2 {
  font-size:1.5em;
  /* margin-bottom:16px; */
}

.skip {
  position:absolute;
  top:-50px;
}

.skip:focus {
  top:20px;
}

body {
  max-width:1024px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  padding:64px 0;
  background-color: var(--surface-01)
}

  form {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* row-gap: 24px; */
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--text-main);
    background: var(--surface-02);
  }

  .radio {
    /* grid-column-start: 1;
    grid-column-end: 3; */
    background: var(--surface-01);
    color: black;
    padding:24px;
    border-radius: 8px;
    border:1px solid rgb(206, 206, 206);
    margin-bottom:16px;
  }

  .radios {
    display:grid;
    grid-template-columns: 1fr 1fr;
  }

  #name {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background: white;
    color: black;
  }

  #message {
    width: 100%;
    padding: 10px;
    resize: vertical;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--button-01);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }
  